/* line 7, scss/welcome.scss */
html, body, h2, p, ul, li {
  padding: 0;
  margin: 0;
}

/* line 8, scss/welcome.scss */
html, body {
  height: 100%;
}

/* line 9, scss/welcome.scss */
ul, ol, li {
  list-style: none;
}

/* line 10, scss/welcome.scss */
body {
  color: #333;
  background-color: #f5c151;
  font-size: 15px;
  font-family: Helvetica, Arial, Roboto, 'Droid Sans', 'ＭＳ Ｐゴシック', 'Hiragino Kaku Gothic ProN', sans-serif;
}

/* line 17, scss/welcome.scss */
.hidden {
  display: none !important;
}

/* line 18, scss/welcome.scss */
.clearfix:after {
  display: none;
  width: 0;
  height: 0;
  content: " ";
  clear: both;
}

/* line 25, scss/welcome.scss */
.fLeft {
  float: left;
}

/* line 26, scss/welcome.scss */
.fRight {
  float: right;
}

/* line 28, scss/welcome.scss */
.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
/* line 34, scss/welcome.scss */
.container .content {
  margin-top: -90px;
}

/* line 41, scss/welcome.scss */
.thumb1 {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* line 46, scss/welcome.scss */
.thumb2 {
  display: block;
  width: 90%;
  margin: 0 auto;
}

/* line 51, scss/welcome.scss */
.text {
  margin: 30px auto 0;
  line-height: 1.3;
  width: 90%;
}

/* line 58, scss/welcome.scss */
.btnArea {
  width: 70%;
  margin: 30px auto 0;
}

/* line 62, scss/welcome.scss */
.btn {
  width: 45%;
  height: auto;
}
/* line 66, scss/welcome.scss */
.btn.on img {
  display: none;
}
/* line 68, scss/welcome.scss */
.btn.on img.on {
  display: block;
}
/* line 73, scss/welcome.scss */
.btn img {
  pointer-events: none;
}

/* line 77, scss/welcome.scss */
.btn:nth-child(1) {
  float: left;
}

/* line 80, scss/welcome.scss */
.btn:nth-child(2) {
  float: right;
}

/* line 83, scss/welcome.scss */
.btn img {
  width: 100%;
  height: auto;
}
/* line 86, scss/welcome.scss */
.btn img.on {
  display: none;
}

/* line 93, scss/welcome.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333333;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 105, scss/welcome.scss */
.sp .footer {
  height: 70px;
}

/* line 112, scss/welcome.scss */
.hatena-bookmark-button-frame {
  margin-top: 2px;
}

/* line 115, scss/welcome.scss */
.fb_iframe_widget {
  display: block !important;
}

/* line 118, scss/welcome.scss */
.fb-like {
  width: 100px !important;
}

/* line 121, scss/welcome.scss */
#u_0_6 {
  display: none !important;
}

/* line 124, scss/welcome.scss */
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

/* line 127, scss/welcome.scss */
.copyright {
  color: #878786;
  font-weight: 300;
}
/* line 130, scss/welcome.scss */
.copyright a {
  color: #878786;
  text-decoration: none;
}

/* line 138, scss/welcome.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
/* line 148, scss/welcome.scss */
.modal .content {
  border-radius: 5px;
  margin: 10% auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 30px;
  min-width: 300px;
}
/* line 155, scss/welcome.scss */
.modal.signin .content {
  border: 2px solid #f5736b;
}
/* line 158, scss/welcome.scss */
.modal.login .content {
  border: 2px solid #4886a7;
}
/* line 161, scss/welcome.scss */
.modal h2 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 165, scss/welcome.scss */
.modal .label {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}
/* line 170, scss/welcome.scss */
.modal .caution {
  font-size: 12px;
}
/* line 173, scss/welcome.scss */
.modal input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
/* line 179, scss/welcome.scss */
.modal .btn {
  margin: 30px auto 10px;
  width: 60%;
  max-width: 360px;
}
/* line 184, scss/welcome.scss */
.modal .closeArea {
  margin-top: 20px;
  text-align: center;
}
/* line 187, scss/welcome.scss */
.modal .closeArea a {
  color: #333;
  text-decoration: underline;
}
