/* line 7, scss/welcome.scss */
html, body, h2, p, ul, li {
  padding: 0;
  margin: 0;
}

/* line 8, scss/welcome.scss */
html, body {
  height: 100%;
}

/* line 9, scss/welcome.scss */
ul, ol, li {
  list-style: none;
}

/* line 10, scss/welcome.scss */
body {
  color: #333;
  background-color: #f5c151;
  font-size: 15px;
  font-family: Helvetica, Arial, Roboto, 'Droid Sans', 'ＭＳ Ｐゴシック', 'Hiragino Kaku Gothic ProN', sans-serif;
}

/* line 17, scss/welcome.scss */
.hidden {
  display: none !important;
}

/* line 18, scss/welcome.scss */
.clearfix:after {
  display: none;
  width: 0;
  height: 0;
  content: " ";
  clear: both;
}

/* line 26, scss/welcome.scss */
.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
/* line 32, scss/welcome.scss */
.container .content {
  margin-top: -90px;
}

/* line 39, scss/welcome.scss */
.thumb1 {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* line 44, scss/welcome.scss */
.thumb2 {
  display: block;
  width: 90%;
  margin: 0 auto;
}

/* line 49, scss/welcome.scss */
.text {
  margin: 30px auto 0;
  line-height: 1.3;
  width: 90%;
}

/* line 56, scss/welcome.scss */
.btnArea {
  width: 70%;
  margin: 30px auto 0;
}

/* line 60, scss/welcome.scss */
.btn {
  width: 45%;
  height: auto;
}
/* line 64, scss/welcome.scss */
.btn.on img {
  display: none;
}
/* line 66, scss/welcome.scss */
.btn.on img.on {
  display: block;
}
/* line 71, scss/welcome.scss */
.btn img {
  pointer-events: none;
}

/* line 75, scss/welcome.scss */
.btn:nth-child(1) {
  float: left;
}

/* line 78, scss/welcome.scss */
.btn:nth-child(2) {
  float: right;
}

/* line 81, scss/welcome.scss */
.btn img {
  width: 100%;
  height: auto;
}
/* line 84, scss/welcome.scss */
.btn img.on {
  display: none;
}

/* line 91, scss/welcome.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333333;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 103, scss/welcome.scss */
.sp .footer {
  height: 70px;
}

/* line 110, scss/welcome.scss */
.hatena-bookmark-button-frame {
  margin-top: 2px;
}

/* line 113, scss/welcome.scss */
.fb_iframe_widget {
  display: block !important;
}

/* line 116, scss/welcome.scss */
.fb-like {
  width: 100px !important;
}

/* line 119, scss/welcome.scss */
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

/* line 122, scss/welcome.scss */
.copyright {
  color: #878786;
  font-weight: 300;
}
/* line 125, scss/welcome.scss */
.copyright a {
  color: #878786;
  text-decoration: none;
}

/* line 133, scss/welcome.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
/* line 143, scss/welcome.scss */
.modal .content {
  border-radius: 5px;
  margin: 10% auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 30px;
  min-width: 300px;
}
/* line 150, scss/welcome.scss */
.modal.signin .content {
  border: 2px solid #f5736b;
}
/* line 153, scss/welcome.scss */
.modal.login .content {
  border: 2px solid #4886a7;
}
/* line 156, scss/welcome.scss */
.modal h2 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 160, scss/welcome.scss */
.modal .label {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}
/* line 165, scss/welcome.scss */
.modal .caution {
  font-size: 12px;
}
/* line 168, scss/welcome.scss */
.modal input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
/* line 174, scss/welcome.scss */
.modal .btn {
  margin: 30px auto 10px;
  width: 60%;
  max-width: 360px;
}
/* line 179, scss/welcome.scss */
.modal .closeArea {
  margin-top: 20px;
  text-align: center;
}
/* line 182, scss/welcome.scss */
.modal .closeArea a {
  color: #333;
  text-decoration: underline;
}
