//
// Welcome Page
//
@import "compass";


html, body, h2, p, ul, li {padding: 0; margin: 0;}
html, body {height: 100%;}
ul,ol,li {list-style: none;}
body {
	color: #333;
	background-color: #f5c151;
	font-size: 15px;
	font-family: Helvetica, Arial, Roboto, 'Droid Sans', 'ＭＳ Ｐゴシック', 'Hiragino Kaku Gothic ProN', sans-serif;
}

.hidden {display: none !important;}
.clearfix:after {
	display: none;
	width: 0;
	height: 0;
	content: " ";
	clear: both;
}

.container {
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	@include display-box;
	@include box-align(center);
	.content {
		margin-top: -90px;
	}
}


// TOP画像
.thumb1 {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.thumb2 {
	display: block;
	width: 90%;
	margin: 0 auto;
}
.text {
	margin: 30px auto 0;
	line-height: 1.3;
	width: 90%;
}

// ボタンエリア
.btnArea {
	width: 70%;
	margin: 30px auto 0;
}
.btn {
	width: 45%;
	height: auto;
	&.on {
		img {
			display: none;
			&.on {
				display: block;
			}
		}
	}
	img {
		pointer-events: none;
	}
}
.btn:nth-child(1) {
	float: left;
}
.btn:nth-child(2) {
	float: right;
}
.btn img {
	width: 100%;
	height: auto;
	&.on {
		display: none;
	}
}


// footer
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #333333;
	@include display-box;
	@include box-align(center);
	padding: 0 10px;
	@include box-sizing(border-box);

	.sp & {
		height: 70px;
	}
}
#twitter-widget-0 {
	// margin-top: 5px;
}
.hatena-bookmark-button-frame {
	margin-top: 2px;
}
.fb_iframe_widget {
	display: block !important;
}
.fb-like {
	width: 100px !important;
}
.flex {
	@include box-flex(1);
}
.copyright {
	color: #878786;
	font-weight: 300;
	a {
		color: #878786;
		text-decoration: none;
	}
}


// Modal.
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.75);
	@include display-box;
	@include box-align(center);

	.content {
		border-radius: 5px;
		margin: 10% auto;
		background-color: rgba(255,255,255,.9);
		padding: 30px 30px;
		min-width: 300px;
	}
	&.signin .content {
		border: 2px solid #f5736b;
	}
	&.login .content {
		border: 2px solid #4886a7;
	}
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	.label {
		font-weight: 300;
		font-size: 18px;
		margin-top: 10px;
	}
	.caution {
		font-size: 12px;
	}
	input {
		width: 100%;
		height: 30px;
		font-size: 18px;
		padding-left: 10px;
	}
	.btn {
		margin: 30px auto 10px;
		width: 60%;
		max-width: 360px;
	}
	.closeArea {
		margin-top: 20px;
		text-align: center;
		a {
			color: #333;
			text-decoration: underline;
		}
	}
}






















