//==============================================
// ページ - 登録
//==============================================
.registArea {}
.registArea .input {
	width: 70%;
	min-height: 30px;
	line-height: 30px;
	padding: 0 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.registArea .input.noBorder {
	border: 1px solid rgba(0,0,0,0);
	color: rgba(0,0,0,0);
}
.btnSquare {
	width: 44px;
	height: 44px;
	line-height: 44px;
	background-color: rgba(0,0,0,0);
	color: #333;
	font-size: 12px;
	text-align: center;

	&.actionBtn {
		line-height: 0.45;
	}
}
.inputRating span.on {
	color: gold;
}
.cancelHighlight {
	position: absolute;
	top: 5px;
	left: 72%;
	display: inline-block;
	width: 20%;
	font-size: 0.80rem;
}


/**
	アクティビティ表示
*/
.dailyActionModule .switch {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.dailyActionModule .switch:after {
	content: "▼";
}
.dailyActionModule .switch.on:after {
	content: "▲";
}

/**
	リスト表示
*/
.pHome .listModule {



}


.listArea .item {
	position: relative;
	display: box;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding: 10px 30px 10px 0;
	background-color: white;
	@include transition(background-color .3s ease-in-out);

	&:nth-child(1) {
		padding-top: 16px;
	}
	&.selected {
		background-color: #daffff;
		border-radius: 5px;
	}
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		content: " ";
		// @include background-image(linear-gradient(to right, rgba(0,0,0,0), #ddd, rgba(0,0,0,0)));
		background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(225,225,225,.5), rgba(0,0,0,0));
	}
	&:last-child:after {
		display: none;
	}

	div:nth-child(2) {
		padding-top: 8px;
	}
}
.listArea .item.visibleOn .en {
	opacity: 1 !important;
}
.listArea .item.visibleOn .jp {
	opacity: 1 !important;
}
.listArea .en, .listArea .jp {
	font-family: TimesNewRomanPSMT, "ヒラギノ明朝 Pro";
	font-size: 14px;
	line-height: 1.3;
	color: #333;
	word-break: break-word;
	pointer-events: none;
}
.listArea .jp {
	opacity: 0;
	font-size: 12px;
}
.listArea .rating {
	display: none;  /*とりあえず*/
}
.listArea .toggleBtn {
	position: absolute;
	top: 10px;
	/*right: 140px;*/
	right: 75px;
}
.listArea .doneBtn {
	position: absolute;
	top: 10px;
	right: 75px;
}
.listArea .deleteBtn, .listArea .actionBtn {
	position: absolute;
	top: 10px;
	right: 0;
}
.listArea.modeJp .item .en {
	-webkit-box-ordinal-group: 2;
	opacity: 0;
}
.listArea.modeJp .item .jp {
	-webkit-box-ordinal-group: 1;
	opacity: 1;
}
.listArea.modeJp .item .rating {
	-webkit-box-ordinal-group: 3;
}
